<header>
	<h5><em>Started in Portugal</em> is a showcase of technology startups built in the Portugal.</h5>
</header>
<ul class="params-type">
	<li class="label">filter by</li>
	<li><a href="#" class="active">All</a></li>
	<li><a href="#">Aveiro</a></li>
	<li><a href="#">Braga</a></li>
	<li><a href="#">Coimbra</a></li>
	<li><a href="#">Faro</a></li>
	<li><a href="#">Guimarães</a></li>
	<li><a href="#">Lisboa</a></li>
	<li><a href="#">Porto</a></li>
</ul>
<ul class="params-type">
	<li class="label">sort by</li>
	<li><a href="#">Name</a></li>
	<li><a href="#">Foundation</a></li>
	<li><a href="#">Investment</a></li>
</ul>
<ul class="startups">
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
				</div>
				<div class="details">
					<h4>Serei As Chaves</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
				</div>
				<div class="details">
					<h4>TUIZZI</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
				</div>
				<div class="details">
					<h4>Serei As Chaves</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
				</div>
				<div class="details">
					<h4>TUIZZI</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
				</div>
				<div class="details">
					<h4>Serei As Chaves</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
				</div>
				<div class="details">
					<h4>TUIZZI</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
				</div>
				<div class="details">
					<h4>Serei As Chaves</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
				</div>
				<div class="details">
					<h4>TUIZZI</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
				</div>
				<div class="details">
					<h4>Serei As Chaves</h4>
				</div>
			</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="thumbnail">
				<div class="image">
					<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
				</div>
				<div class="details">
					<h4>TUIZZI</h4>
				</div>
			</div>
		</a>
	</li>
</ul>