<header>
	<h5><em>Started in Portugal</em> is a showcase of technology startups built in the Portugal.</h5>
</header>
<ul class="params-type">
	<li class="label">by hub</li>
	<li><a href="#">Braga</a></li>
	<li><a href="#">Porto</a></li>
	<li><a href="#">Coimbra</a></li>
	<li><a href="#">Lisboa</a></li>
	<li><a href="#">Faro</a></li>
</ul>
<ul class="params-type">
	<li class="label">sort by</li>
	<li><a href="#">Name</a></li>
	<li><a href="#">Foundation</a></li>
	<li><a href="#">Investment</a></li>
</ul>
<hr>
<ul class="startups">
	<li><a href="#">Serei As Chaves</a></li>
	<li><a href="#">TUIZZI</a></li>
	<li><a href="#">Serei As Chaves</a></li>
	<li><a href="#">TUIZZI</a></li>
	<li><a href="#">Serei As Chaves</a></li>
	<li><a href="#">TUIZZI</a></li>
	<li><a href="#">Serei As Chaves</a></li>
	<li><a href="#">TUIZZI</a></li>
	<li><a href="#">Serei As Chaves</a></li>
	<li><a href="#">TUIZZI</a></li>
	<li><a href="#">Serei As Chaves</a></li>
</ul>