<article class="startup-details">
	<h2 class="sans startup-tittle">Mixcloud</h2>
	<h4 class="sans"><i class="icon-link my-icon"></i> mixcloud.com</h4>
	<h5 class="sans"><i class="icon-twitter my-icon"></i> @mixcloud</h5>

	<p class="description">
		Mixcloud's mission is to deliver great radio, for everyone. They are re-thinking radio, joining the dots between traditional shows, Podcasts and DJ mixes.
	</p>

	<p><i class="icon-tag my-icon"></i> #music  #radio</p>
	<p><i class="icon-map-marker my-icon"></i> 41A Tabernacle Street, London, EC2A 4AA</p>


	<p class="long-margin-top">Related Portuguese Startups:</p>
	<ul class="startups">
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
					</div>
					<div class="details">
						<h4>Serei As Chaves</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
					</div>
					<div class="details">
						<h4>TUIZZI</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
					</div>
					<div class="details">
						<h4>Serei As Chaves</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
					</div>
					<div class="details">
						<h4>TUIZZI</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
					</div>
					<div class="details">
						<h4>Serei As Chaves</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
					</div>
					<div class="details">
						<h4>TUIZZI</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
					</div>
					<div class="details">
						<h4>Serei As Chaves</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
					</div>
					<div class="details">
						<h4>TUIZZI</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/013/medium/mixcloud.gif?1357558482">
					</div>
					<div class="details">
						<h4>Serei As Chaves</h4>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="thumbnail">
					<div class="image">
						<img src="http://s3-eu-west-1.amazonaws.com/builtinlondon-production/startups/logos/000/000/006/medium/mixlr.gif?1357554608">
					</div>
					<div class="details">
						<h4>TUIZZI</h4>
					</div>
				</div>
			</a>
		</li>
	</ul>
</article>

