.startups {
	overflow: hidden;
	margin: 0;
	list-style-type: none;
	 -webkit-padding-start: 0px;
	 li {

	 	float: left;
	 	margin: 10px;
	 	border: 2px solid #ddd;
	 	width: $thumbnail-width;
	 	height: $thumbnail-height;
	 	overflow: hidden;
	 	&:nth-child(4n + 1) { margin-left: 0; }
	 	&:nth-child(4n) { margin-right: 0; }

	 	.thumbnail {
	 		text-align: center;
	 		.image, .details {
	 			width: $thumbnail-width;
	 			height: $thumbnail-height;
	 		}
	 		.image {
	 			img {
	 				height: 70px;
					width: 130px;
					margin: 30px auto;
	 			}
	 		}
	 	}

	 }
}