<!DOCTYPE html>
<html>
<head>
  <title>MadeInPortugal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="sidebar">
	<div id="logo"></div>
</section>
<section class="content">
	<section class="content-wrapper">
		<%= yield %>
	</section>
</section>


</body>
</html>
